table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    text-align: center;
}
  